
.logo{
    text-align: center;
    font-size: 24px;
    color: rgb(78, 78, 150);
}

.search{
    text-align: center;
    
    color: rgb(78, 78, 150);
}
.search-button{
    background-color: rgb(78, 78, 150);;
    color: white;
}
.next{
    margin: 10px;
    
    background-color:rgb(78, 78, 150);
    color: white;
    font-size: 15pt;

    align-items: flex-end;
}
.result{
    margin: 30px;
    padding: 50px;
    width: auto;
    height: auto;
    /*float: left;*/
    border: 2px solid black;
    border-radius: 20px;
}